# ####################################################
# DIRECTORIES
# ####################################################

node_modules

# ####################################################
# FILES
# ####################################################

package-lock.json